In [25]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

pd.set_option('display.max_columns',None)

pd.set_option('display.max_rows',None)

# Load the  clean Data

In [2]:
telcom_data = pd.read_csv('tel_data.csv')
telcom_data.head(10)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,42.000000,5.000000,23.0,44.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.000000,5.000000,16.0,26.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,109.795706,17.662883,6.0,9.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,109.795706,17.662883,44.0,44.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,3330.0,37882.0,1.321510e+09,undefined,undefined,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,109.795706,17.662883,6.0,9.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0
5,1.311448e+19,4/12/2019 21:37,439.0,4/25/2019 8:08,553.0,1074638.0,2.082014e+14,3.366819e+10,3.529841e+13,T89132C,109.795706,17.662883,70.0,54.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,22639.0,22700.0,1.074638e+09,undefined,undefined,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,112.0,118.0,3148833.0,51181.0,10351530.0,2582603.0,1980032.0,922378.0,21332918.0,2611113.0,7345361.0,6536448.0,710293538.0,13167974.0,654978277.0,4436057.0,30307754.0,754452212.0
6,1.311448e+19,4/13/2019 8:41,612.0,4/25/2019 8:16,168.0,1035261.0,2.082014e+14,3.366537e+10,8.676270e+13,9164567010589190,102.000000,5.000000,22.0,38.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,9785.0,316210.0,1.035262e+09,Huawei,Huawei Mate 20 Lite,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,33.0,655.0,1623509.0,1482.0,1837897.0,3068975.0,1838947.0,252032.0,7234465.0,1886295.0,13231006.0,17981760.0,44796223.0,14084934.0,803653557.0,10649768.0,47925246.0,70562047.0
7,1.304243e+19,4/14/2019 2:11,592.0,4/25/2019 2:26,512.0,951292.0,2.082010e+14,3.376349e+10,8.654640e+13,CELL_208_20_520025_1,39.000000,18.000000,3698.0,416.0,1.952000e+04,759658.664811,99.0,0.0,0.0,0.0,99.0,0.0,0.0,0.0,2.305830e+05,2.542700e+04,70832.0,74477.0,9.512929e+08,undefined,undefined,989.699998,3.000000,1.000000,149.257052,2.000000,141.304812,708.0,666.0,3103940.0,57463.0,1304524.0,2568189.0,2987408.0,512696.0,12189786.0,19735183.0,6858496.0,12075206.0,748906189.0,16149622.0,537601820.0,7714657.0,58813016.0,775350343.0
8,1.311448e+19,4/14/2019 12:48,121.0,4/25/2019 10:22,960.0,941634.0,2.082014e+14,3.369874e+10,3.556241e+13,T42084A,109.795706,17.662883,46.0,49.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,162472.0,176488.0,9.416348e+08,Samsung,Samsung Galaxy A8 (2018),989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,794.0,826.0,342043.0,30582.0,7560820.0,1341279.0,3014208.0,365861.0,18436641.0,10860867.0,10587264.0,8467177.0,821671285.0,6548349.0,172920486.0,14749031.0,42363146.0,861612261.0
9,1.304243e+19,4/15/2019 0:32,0.0,4/25/2019 0:40,284.0,864482.0,2.082003e+14,3.365922e+10,3.557311e+13,L20434C,97.000000,7.000000,3845.0,2535.0,3.231397e+06,7230.000000,70.0,26.0,2.0,0.0,99.0,0.0,0.0,0.0,1.322460e+05,3.244900e+04,1537874.0,1542046.0,8.644823e+08,Samsung,Samsung Galaxy Note 8 (Sm-N950F Ds),989.699998,14.000000,165.000000,149.257052,1665.000000,4.000000,4421.0,6344.0,1541259.0,44154.0,8601949.0,176392.0,522457.0,243589.0,16338345.0,6573194.0,12211149.0,974201.0,811355188.0,1591237.0,64856042.0,12815208.0,22417975.0,850570347.0

In [5]:
telcom_data.isna().sum()

Bearer Id                                   0
Start                                       0
Start ms                                    0
End                                         0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Last Location Name                          0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Handset Manufacturer                        0
Handset Type                                0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
dtype: int64

# Task 1.1

#### Aggregate per user the following information in the column¶
Number of xDR sessions

In [7]:
sessions = telcom_data.groupby('MSISDN/Number').agg({'Bearer Id': 'count'})
sessions = sessions.rename(columns= {'Bearer Id': 'xDR_sessions'})
sessions.sort_values(by=['xDR_sessions'], ascending = False).head(10)

               xDR_sessions
MSISDN/Number
4.188282e+10           1066
3.362632e+10             18
3.362578e+10             17
3.361489e+10             17
3.365973e+10             16
3.367588e+10             15
3.376054e+10             15
3.366716e+10             13
3.360452e+10             12
3.362708e+10             12

In [9]:
sessions.describe()

        xDR_sessions
count  106857.000000
mean        1.403755
std         3.355032
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max      1066.000000

#### Session duration

In [12]:
# we group the data using  msisdn (customer number) and find sum the the duration for each customer

durations = telcom_data.groupby('MSISDN/Number').agg({'Dur. (ms)': 'sum'})


durations=durations.rename(columns= {'Dur. (ms)': 'total_duration(ms)'})
durations.sort_values(by=['total_duration(ms)'], ascending = False).head(10)

               total_duration(ms)
MSISDN/Number
4.188282e+10         7.255100e+07
3.362578e+10         1.855375e+07
3.361489e+10         9.966898e+06
3.376054e+10         9.279434e+06
3.362632e+10         8.791927e+06
3.366716e+10         8.744914e+06
3.366284e+10         6.614270e+06
3.366469e+10         6.288730e+06
3.360313e+10         6.287761e+06
3.366746e+10         5.649882e+06

In [13]:
durations.describe()

       total_duration(ms)
count        1.068570e+05
mean         1.468447e+05
std          2.894646e+05
min          7.142000e+03
25%          7.130900e+04
50%          1.027410e+05
75%          1.727990e+05
max          7.255100e+07

#### the total download (DL) and upload (UL) data

In [14]:
total_data_df = telcom_data[['MSISDN/Number','Total UL (Bytes)','Total DL (Bytes)']].copy()
total_data_df = total_data_df.groupby('MSISDN/Number').sum()
total_data_df['total_data(bytes)'] = total_data_df['Total UL (Bytes)'] + total_data_df['Total DL (Bytes)']
total_data_df.sort_values(by=['total_data(bytes)'], ascending = False).head(10)

               Total UL (Bytes)  Total DL (Bytes)  total_data(bytes)
MSISDN/Number
4.188282e+10       4.436642e+10      4.873783e+11       5.317447e+11
3.361489e+10       6.894830e+08      8.156743e+09       8.846226e+09
3.376054e+10       7.034786e+08      7.811295e+09       8.514774e+09
3.362578e+10       7.295774e+08      7.770043e+09       8.499621e+09
3.362632e+10       6.696507e+08      7.301517e+09       7.971167e+09
3.367588e+10       5.815688e+08      7.309542e+09       7.891111e+09
3.365973e+10       6.242603e+08      7.081602e+09       7.705863e+09
3.366646e+10       4.050610e+08      6.903440e+09       7.308501e+09
3.376041e+10       5.215189e+08      6.610852e+09       7.132371e+09
3.366471e+10       4.712445e+08      6.400774e+09       6.872018e+09

In [15]:
total_data_df.describe()

       Total UL (Bytes)  Total DL (Bytes)  total_data(bytes)
count      1.068570e+05      1.068570e+05       1.068570e+05
mean       5.772408e+07      6.382078e+08       6.959319e+08
std        1.401591e+08      1.559802e+09       1.697158e+09
min        2.866892e+06      8.827082e+06       3.324901e+07
25%        3.639554e+07      3.148302e+08       3.585530e+08
50%        4.679434e+07      5.703713e+08       6.179232e+08
75%        6.573376e+07      8.073701e+08       8.574358e+08
max        4.436642e+10      4.873783e+11       5.317447e+11

#### the total data volume (in Bytes) during this session for each application

first lets commute the total data (ul + dl) for each application. and added new columns to our data (Social Media, Google, Email, Youtube, Netflix, Gaming, and Other.

In [17]:
telcom_data["Social_Media"] = telcom_data["Social Media DL (Bytes)"] + telcom_data['Social Media UL (Bytes)']
telcom_data["Google"] = telcom_data["Google DL (Bytes)"] + telcom_data["Google UL (Bytes)"]
telcom_data['Email'] = telcom_data["Email DL (Bytes)"] + telcom_data["Email UL (Bytes)"]
telcom_data['Youtube'] = telcom_data["Youtube DL (Bytes)"] + telcom_data["Youtube UL (Bytes)"]
telcom_data['Netflix'] = telcom_data["Netflix DL (Bytes)"] + telcom_data["Netflix UL (Bytes)"]
telcom_data["Gaming"] = telcom_data["Gaming DL (Bytes)"] + telcom_data["Gaming UL (Bytes)"]
telcom_data['Other']= telcom_data["Other DL (Bytes)"]+ telcom_data["Other UL (Bytes)"]
telcom_data['Total_data'] = telcom_data['Total DL (Bytes)'] + telcom_data['Total UL (Bytes)']

In [19]:
app_total_data = telcom_data[['MSISDN/Number','Social_Media','Google',
                             'Email', 'Youtube','Netflix', 'Gaming','Other']].copy()

In [20]:
app_total_data.groupby('MSISDN/Number').sum().sample(10)

,Social_Media,Google,Email,Youtube,Netflix,Gaming,Other
MSISDN/Number,,,,,,,
3.376841e+10,1638079.0,1173275.0,1042203.0,28111083.0,16797581.0,31640582.0,228294021.0
3.366902e+10,745512.0,10305147.0,1175608.0,24929917.0,25437565.0,149292728.0,234517581.0
3.366533e+10,690803.0,8410459.0,1570195.0,14501335.0,22010953.0,820157968.0,850764318.0
3.363556e+10,1535710.0,8168983.0,1174404.0,18047802.0,43936020.0,599173675.0,460037975.0
3.366145e+10,3512964.0,9419352.0,466453.0,13789857.0,6316274.0,742886433.0,336024058.0
3.369942e+10,2368512.0,8000605.0,1697760.0,18970464.0,16443090.0,366349993.0,104916456.0
3.364648e+10,3041008.0,2812331.0,672025.0,21189005.0,18492679.0,157643136.0,828905896.0
3.365080e+10,2922897.0,4878919.0,1024689.0,22328535.0,10117051.0,17838065.0,648896102.0
3.376259e+10,2486402.0,6773956.0,2846234.0,9732029.0,11939429.0,801693118.0,549747754.0
3.366124e+10,2567841.0,11118755.0,900703.0,25173618.0,29731045.0,458878026.0,524107697.0

In [21]:
app_total_data.describe()

,MSISDN/Number,Social_Media,Google,Email,Youtube,Netflix,Gaming,Other
count,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05
mean,4.188282e+10,1.828250e+06,7.807295e+06,2.259102e+06,2.264348e+07,2.262861e+07,4.303331e+08,4.293653e+08
std,2.438731e+12,1.035646e+06,3.516420e+06,1.071109e+06,9.246800e+06,9.260820e+06,2.440199e+08,2.432681e+08
min,3.360100e+10,1.563000e+03,4.033000e+04,8.359000e+03,7.890300e+04,9.843200e+04,3.063580e+05,1.490450e+05
25%,3.365151e+10,9.322180e+05,4.943599e+06,1.359344e+06,1.599846e+07,1.597946e+07,2.187279e+08,2.185534e+08
50%,3.366380e+10,1.826471e+06,7.812835e+06,2.263567e+06,2.266177e+07,2.263554e+07,4.316150e+08,4.299865e+08
75%,3.368473e+10,2.727487e+06,1.068280e+07,3.159818e+06,2.929260e+07,2.929044e+07,6.414159e+08,6.399275e+08
max,8.823971e+14,3.650861e+06,1.552878e+07,4.518036e+06,4.519008e+07,4.519815e+07,8.592028e+08,8.595209e+08

In [26]:
telcom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 63 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  float64
 1   Start                                     150001 non-null  object
 2   Start ms                                  150001 non-null  float64
 3   End                                       150001 non-null  object
 4   End ms                                    150001 non-null  float64
 5   Dur. (ms)                                 150001 non-null  float64
 6   IMSI                                      150001 non-null  float64
 7   MSISDN/Number                             150001 non-null  float64
 8   IMEI                                      150001 non-null  float64
 9   Last Location Name                        150001 non-null  object
 10  Avg RTT DL (ms)                           150001 non-null  float64
 11  Avg RTT UL (ms)                           150001 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150001 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 16  DL TP < 50 Kbps (%)                       150001 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 19  DL TP > 1 Mbps (%)                        150001 non-null  float64
 20  UL TP < 10 Kbps (%)                       150001 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 23  UL TP > 300 Kbps (%)                      150001 non-null  float64
 24  HTTP DL (Bytes)                           150001 non-null  float64
 25  HTTP UL (Bytes)                           150001 non-null  float64
 26  Activity Duration DL (ms)                 150001 non-null  float64
 27  Activity Duration UL (ms)                 150001 non-null  float64
 28  Dur. (ms).1                               150001 non-null  float64
 29  Handset Manufacturer                      150001 non-null  object
 30  Handset Type                              150001 non-null  object
 31  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 34  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 35  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 37  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 38  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150001 non-null  float64
 54  Total DL (Bytes)                          150001 non-null  float64
 55  Social_Media                              150001 non-null  float64
 56  Google                                    150001 non-null  float64
 57  Email                                     150001 non-null  float64
 58  Youtube                                   150001 non-null  float64
 59  Netflix                                   150001 non-null  float64
 60  Gaming                                    150001 non-null  float64
 61  Other                                     150001 non-null  float64
 62  Total_data                                150001 non-null  float64
dtypes: float64(58), object(5)
memory usage: 72.1+ MB

In [27]:
telcom_data.to_csv('telcom.csv',index=False)